.header {
  width: 100%;
  padding: 20px 0;
  background-color: #34495e;
  color: #ecf0f1;
}
.header h4{
  padding-left: 30px;
}

.body {
  width: 100%;
  min-height: 500px;
}

.left {
  /*width: 70%;
  float: left;*/
  padding: 20px 50px;
}

.right {
  padding: 20px;
}

.right-item {
  /*border-top: 1px solid #c2c2c2;*/
  margin-bottom: 20px;
}

.right-item-header {
  background-color: #7f8c8d;
  color: white;
  padding: 5px;
}

.footer {
  width: 100%;
  height: 30px;
  background-color: #34495e;
  /*position: fixed;*/
  /*bottom: 0;*/
  /*z-index: -1;*/
  /*opacity: .5;*/
}

.item {
  border-top: 1px solid #c2c2c2;
  margin-bottom: 20px;
}

.item .title {
  /*background-color: #f2f2f2;*/
}

.item .content {
  /*min-height: 200px;*/
  height: 200px;
  overflow: hidden;
}

.post-content {
  min-height: 300px;
}
.post-footer{
  margin: 20px 0;
}

.editor{
  min-height: 100px;
  border: 1px solid black;
}

.comment{
  border-top: 3px solid black;
}

.comment-header{
  /*padding: 10px;*/
}

.comment-item{
  /*padding: 10px;*/
  margin-bottom: 20px;
}

.comment-name{
  padding: 5px 10px;
  background-color: #7f8c8d;
  color: white;
  min-height: 20px;
}

.comment-content{
  padding: 10px;
  background-color: #ecf0f1;
  min-height: 80px;
}

.category{
  list-style: none;
  margin: 0;
}
.category li{
  padding: 5px 10px;
  background-color: #ecf0f1;
  margin: 5px 0;
}


.sidebar-comment{
  list-style: none;
  margin: 0;
}
.sidebar-comment li{
  padding: 5px 10px;
  background-color: #ecf0f1;
  margin: 5px 0;
}