{% extends 'layout.html' %}
{% load post_filter %}


{% block main %}
<h3>{{ post.title }}</h3>

<div class="post-content">{{ post.content|editor|safe }}</div>

<div class="post-footer">
  <div class="pull-right">
    <a href="{% url 'posts.views.post_views.index' %}">
      <i class="icon-arrow-left"></i>
      back
    </a>
    {% if request.session.username == 'bo' %}
    <a href="{% url 'posts.views.post_views.edit' post|mongo_id %}">
      <i class="icon-edit"></i>
      edit
    </a>
    {% endif %}
  </div>
  <div class="clearfix"></div>
</div>

<div>
    <div class="comment">
        <div class="comment-header"><h3>Comments</h3></div>
        {% for comment in comments %}
        <div class="comment-item">
            <div class="comment-name">{{ comment.name }}
              {% if request.session.username == 'bo' %}
              <a href="{% url 'posts.views.comment_views.destroy' post|mongo_id comment|mongo_id %}"><i class="icon-remove pull-right"></i>
              </a>
              {% endif %}
            </div>
            <div class="comment-content">{{ comment.content|editor|safe }}</div>
        </div>
        {% endfor %}
    </div>
    <form action="{% url 'posts.views.comment_views.create' post|mongo_id %}" method="post">
        {% csrf_token %}
        <label>Your Name</label>
        <input type="text" name="name">
        <br>
        <label>Content</label>
        <textarea name="content"></textarea>
        <br>
        <input type="submit">
    </form> 
</div>
{% endblock %}